<html>
  <head>
    <title>Sign up page</title>
  </head>
  <body>
    <h1>Sign up</h1>
    <form method="POST">
      Email: <br/>
      <input type="email" name="email"/> <br/>
      First Name: <br/>
      <input type="text" name="firstname"/> <br/>
      Last Name: <br/>
      <input type="text" name="lastname"/> <br/>
       Username: <br/>
      <input type="text" name="username"/> <br/>
      Password: <br/>
      <input type="password" name="password"/> <br/>
      <button type="submit">Sign up</button>
    </form>
  </body>
</html>